@{
    ViewBag.Title = "Designation";
    Layout = "~/Views/Shared/Funding.cshtml";
}

<style type="text/css">
    #tblchruch tr td {
        text-align: left;
    }

    .tbl-smtp1 thead {
        visibility: collapse;
    }

    table td {
        box-sizing: border-box !important;
    }

    .modal {
        padding-right: 0;
    }
</style>
@section scripts{
<script type="text/javascript">
    var delet, edit;
    jQuery(document).ready(function () {
        getaccess();
        bindDesignationdetails();
       
        jQuery("#btnSubmit").click(function () {
            opType = jQuery("#hdnEmployee").val();
            var message = validateDesignation();
            if (message.length > 0 && opType != 'D') {
                notifyMessage(message, 'danger');
            }
            else {
                if (opType == 'C') {
                    var x = confirm("Are you sure you want to Save?");
                    if (x) {
                        adddesig();
                        return true;
                    }
                    else
                        return false;
                } else {
                    var x = confirm("Are you sure you want to Update?");
                    if (x) {
                        adddesig();
                        return true;
                    }
                    else
                        return false;
                }
            }
        })
        jQuery("#btnDelete").click(function () {
            deldesig();
        });
    });
    function showdesignationModal(e) {
        desg = "";
        var txtdesg = document.getElementById("txtdesg");
        txtSID = document.getElementById('txtSID');
        var tblemployee = document.getElementById('tbl-smtp'),
            rows = tblemployee.rows,
            hdnEmployee = document.getElementById('hdnEmployee');
        jk = false;
        if (e.value.indexOf('Edit') > -1) {
            jQuery("#btnSubmit").html('@ViewData["BUpd"]');
            lblError.innerHTML = '';
            jQuery('#txtdesg').css('border-color', '');
            for (var i = 0, row = null; i < rows.length; i++) {
                row = rows[i];
                if (row.cells[2].innerHTML.indexOf(e.id) > -1) {
                    txtSID.value = jQuery(e).data('sid');
                    txtdesg.value = decodeHTMLEntities(row.cells[1].innerHTML);
                    //   txtdname.value = row.cells[1].innerHTML;
                    desg = decodeHTMLEntities(row.cells[1].innerHTML);
                    if (row.cells[1].innerHTML == "Administrator") {
                        $("#txtdesg").attr('disabled', true);
                    }
                    else {
                        $("#txtdesg").attr('disabled', false);
                    }
                    break;
                }
            }
            hdnEmployee.value = 'U';
        }
        else if (e.value.indexOf('Add') > -1) {
            resetDesignation();
            //txtdname.value = '';
            jQuery("#btnSubmit").show();
            jQuery("#btnSubmit").html('@ViewData["Bsav"]');
            hdnEmployee.value = 'C';
            jQuery("#loader").css("display", "none");
        }
    }
  
    function getaccess() {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("Editright", "AccessRights")',
            data: JSON.stringify({ 'name': 'Designation' }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (value) {
                //jQuery.each(data, function (key, value) {
                    if (value.Aview == "Y") {
                        document.getElementById("btnAdd").style.visibility = "Visible";
                        delet = true;
                        edit = true;
                    }
                    else {
                        document.getElementById("btnAdd").style.visibility = "hidden";
                        delet = false;
                        edit = false;
                    }
                    if (value.AAdd == "Y") {
                        document.getElementById("btnAdd").style.visibility = "visible";
                    }
                    else {
                        document.getElementById('btnAdd').style.visibility = "hidden";
                    }
                    if (value.ADelete == "Y") {
                        delet = true;
                    }
                    else {
                        delet = false;
                    }
                    if (value.AUpdate == "Y") {
                        edit = true;
                    }
                    else {
                        edit = false;
                    }
                //})
            }
        });
    }
    var glob;
    function bindDesignationdetails() {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetdesDetails", "Designation")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#tbl-smtp tbody").empty();
                if (jQuery.fn.DataTable.isDataTable("#tbl-smtp")) {
                    jQuery('#tbl-smtp').DataTable().clear().destroy();
                }
                if (data != 0) {
                    var i = 1;
                    jQuery.each(data, function (key, value) {
                        var del = delet == true ? '<button class="btn btn-outline-dark btn-sm" data-sid="' + value.Desg_Id + '" data-pwd="' + value.Desg_Name + '" id="btnDelete" data-rec="0" onclick="deldesig(this)"><i class="fas fa-trash" aria-hidden="true"></i></button>' : '';
                        var updta = edit == true ? '<button class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#modal-desg" id="btn' + value.Desg_Id + '" data-sid="' + value.Desg_Id + '" value="Edit" onclick="showdesignationModal(this)"><i class="fas fa-pen" ></i ></button >' : '';
                        var row = '<tr>' +
                            '<td>' + i + '</td>' +
                            '<td>' + value.Desg_Name + '</td>' +
                            '<td>' + updta + "&nbsp;&nbsp;&nbsp;" + del + '</td>' +
                            //'<td >&nbsp;&nbsp;&nbsp;</td>' +
                            '</tr>';
                        i++;
                        jQuery("#tbl-smtp tbody").append(row);
                    });
                }
                applyDatatable('tbl-smtp');
            }
        })
    }
    function deldesig(e) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            jQuery('#hdnEmployee').val('D');
            cid = jQuery(e).data('sid');
            var pt = jQuery(e).data('pwd');
            deletedesg(cid, pt);
            return true;
        }
        else
            return false;
    }
    function adddesig() {
        var message = validateDesignation(),
            type = '',
            opType = jQuery("#hdnEmployee").val();

        if (message.length > 0 && opType != 'D') {
            notifyMessage(message, 'danger');
        }
        else {
            var params = JSON.stringify(getdesignationValues());
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("Adddesg", "Designation")',
                data: params,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    hideModal('modal-desg');
                    if (opType == 'C') {

                        if (data == true) {
                            message = jQuery("#txtdesg").val() + '  Already Exists.';
                            type = 'danger';
                        }
                        else {
                            message = jQuery("#txtdesg").val() + '  Successfully Created';
                            type = 'success';
                        }
                    }
                    else if (opType == 'U') {
                        var jk = true;
                        if (data == false && jk == true) {
                            message = jQuery("#txtdesg").val() + '  Already Exists.';
                            type = 'danger';
                        }
                        else {
                            message = jQuery("#txtdesg").val() + '  Successfully Updated';
                            type = 'success';
                        }
                    }
                    else if (opType == 'D' && data) {
                        message = jQuery("#txtdesg").val() + '  Deleted successfully.';
                        type = 'success';
                    }
                    bindDesignationdetails();
                    jQuery('.modal-backdrop').hide();
                    notifyMessage(message, type);
                }
            })
        }
    }
    function deletedesg(cid,pt) {
        type = '',
        opType = jQuery("#hdnEmployee").val();
        jQuery.ajax({
             type: 'POST',
             url: '@Url.Action("Deletedesg", "Designation")',
             data: JSON.stringify({ 'sno': cid }),
             contentType: 'application/json; charset=utf-8',
             dataType: 'json',
             success: function (data) {
                hideModal('modal-desg');
                if (data == true) {
                    message = pt + '  is in Use,Cannot be Deleted.';
                    type = 'danger';
                }
                else if (opType == 'D' && data) {
                    message = pt + '  Successfully Deleted';
                    type = 'success';
                }
                notifyMessage(message, type);
                bindDesignationdetails();
             }
        })
    }
    function dataignorepaste(evt) {
        dataignorepaste1(evt, "txtdesg");
    }
    function textboxborder(e) {
        jQuery('#txtdesg').css('border-color', '');
    }
    </script>
}
<div class="content-header row">
    <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block"> @ViewData["desg"]</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Setup", "Setup")">@ViewData["hom"]</a>
                    </li>
                    <li class="breadcrumb-item active"> @ViewData["desg"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="card border-0">
    <div class="card-body">
        @* <h5 class="card-title" id="designations">Designation</h5> *@
        <div class="form-group d-flex">
            <button type="button" id="btnAdd" value="Add" data-sid="0" class="btn ml-auto mr-1 btn-sm tff_btn"
                    onclick="showdesignationModal(this);" data-toggle="modal" data-target="#modal-desg">
                @ViewData["Bct"]
            </button>
            <input type="hidden" id="hdnEmployee" />
        </div>
        <div class="table-responsive">
            <table id="tbl-smtp"
                   class="table table-striped table-bordered zero-configuration dataTable rounded display">
                <thead>
                    <tr>
                        <th class="th_sno">@ViewData["Bsno"]</th>
                        <th>@ViewData["desg"]</th>
                        <th class="th_actions" data-sort-ignore="true">@ViewData["Bact"]</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!-- [MODALS] -->
<div class="modal fade" id="modal-desg" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-labelledby="believerCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered believerModal modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hddesg">@ViewData["desg"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="col-12 p-0 mx-auto" action="Adddesg" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6 d-sm-flex">
                            <label for="gender" class="col-sm-auto pl-0" id="hddesg1">
                                @ViewData["desg"]<span class="red">*</span>
                            </label>
                            <input type="text" class="form-control" id="txtdesg" placeholder="Enter Designation"
                                   onfocusout="return validatemaxlength(this,200,lblError)"
                                   onfocus="return textboxborder(this)" onblur="validDeg(this)"
                                   onkeydown="return (event.keyCode!=13)" onpaste="return dataignorepaste(event);">
                            <input type="hidden" class="form-control hidden" id="txtSID">
                            <span id="lblError" class="red"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn tff_btn btn-sm btn-biz_logic" id="btnSubmit">@ViewData["Bsav"]</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">@ViewData["Bclo"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
