@model FUNDING.Models.Notifications.WhatsAppNotification


@{
    ViewBag.Title = "InvitationCards";
    Layout = "~/Views/Shared/_Customers.cshtml";


    ViewData["Title"] = "Invitation cards generation";
    ViewData["Home"] = "Home";

    ViewBag.EmptyIenumerable = new List<SelectListItem>();

    #region Ajax Options Section

    AjaxOptions ajaxOptions = new AjaxOptions();
    ajaxOptions.HttpMethod = "POST";
    //ajaxOptions.CreateTargetId = "divEventDetails";
    ajaxOptions.OnBegin = "OnBeginRequestCreate";
    ajaxOptions.OnSuccess = "OnSuccessRequestCreate";
    //ajaxOptions.OnComplete = "OnCompleteRequestCreate";
    ajaxOptions.OnFailure = "OnFailureRequestCreate";
    // ajaxOptions.Confirm = "Do you want to update event?";

    #endregion;
}


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">@ViewData["Title"]</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Dashboard", "CustomerActivity")">@ViewData["Home"]</a>
                </li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ol>
        </div>
    </div>
</div>
<div class="card border-0">
    <div class="card-body">
        @*  @using (Ajax.BeginForm(actionName: "WhatsAppNotification", controllerName: "CardDesignMaster", routeValues: null,
            ajaxOptions: ajaxOptions, htmlAttributes: new { id = "ajaxHelperCreateForm", autocomplete = "off" }))
                {*@
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="form-group col-sm-9 col-md-6 col-lg-4 mb-3">
                    @Html.LabelFor(model => model.Event_Id, htmlAttributes: new { @class = "d-block mb-1" })
                    @Html.DropDownListFor(model => model.Event_Id, ViewBag.EventDropDownList as IEnumerable<SelectListItem>, "Select event", new { @class = "form-control mw-100" })
                    @Html.ValidationMessageFor(model => model.Event_Id, "", new { @class = "text-danger" })
                </div>
                <div class="text-end col-lg-8  col-md-3 col-sm-3" style="padding-top: 17px;">
                    <button id="submitCreateCardsAll" type="submit" class="btn btn-outline-warning btn-rounded position-relative">
                        <span class="button-text"> Generate All Cards </span>
                        <div class="typing-loader"></div>
                    </button>
                    <button id="submitDownloadCardsAll" type="submit" class="btn btn-outline-success btn-rounded position-relative" >
                        <span class="button-text"> Download All Cards </span>
                        <div class="typing-loader"></div>
                    </button>
                </div>
            </div>
            <hr class="mt-0" />
            <div class="row">
                <div class="form-group col-sm-9 col-md-6 col-lg-4 mb-3">
                    <div class="form-group mb-3">
                        @Html.Label("Select Invitees", new { @class = "d-block mb-1" })
                        @Html.DropDownList("Visitor_Id", new SelectList("", "Visitors", "Please select Invitee"), new { @multiple = "multiple", @id = "Visitor_Id", @class = "form-control mw-100" })
                    </div>
               
                </div>

               
            <div class="text-end col-lg-8 col-md-3 col-sm-3" style="padding-top: 17px;">
                <button id="submitCreateCards" type="submit" class="btn btn-outline-info btn-rounded position-relative">
                    <span class="button-text">Generate Multiple Cards</span>
                    <div class="typing-loader"></div>
                </button>
                <button id="submitDownloadCards" type="submit" class="btn btn-outline-info btn-rounded position-relative mt-1">
                    <span class="button-text">Download Multiple Cards</span>
                    <div class="typing-loader"></div>
                </button> 
                @*<button type="reset" class="btn btn-outline-danger btn-rounded" data-bs-dismiss="modal">Clear</button>*@
            </div>
            </div>
        </div>
        @* }*@
    </div>
</div>


@section styles{
    <link href="~/Scripts/intl-tel-input/css/isValidNumber.css" rel="stylesheet" />
    <link href="~/Scripts/intl-tel-input/css/intlTelInput.min.css" rel="stylesheet" />
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />

    <style>
        .select2.select2-container.select2-container--default,
        .iti.iti--allow-dropdown.iti--separate-dial-code {
            width: 100%;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow,
        .select2-container .select2-selection--single {
            height: 38px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
        }

        .button-text.on-submit {
            visibility: hidden !important;
        }

        .typing-loader {
            width: 6px;
            height: 6px;
            -webkit-animation: line 1s linear infinite alternate;
            -moz-animation: line 1s linear infinite alternate;
            animation: line 1s linear infinite alternate;
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            display: none;
        }

        @@-webkit-keyframes line {
            0% {
                background-color: #03A9F3;
                box-shadow: 12px 0px 0px 0px #C7EBFC, 24px 0px 0px 0px #C7EBFC;
            }

            25% {
                background-color: #57C5F7;
                box-shadow: 12px 0px 0px 0px #57C5F7, 24px 0px 0px 0px #C7EBFC;
            }

            75% {
                background-color: #57C5F7;
                box-shadow: 12px 0px 0px 0px #C7EBFC, 24px 0px 0px 0px #57C5F7;
            }
        }

        @@-moz-keyframes line {
            0% {
                background-color: #03A9F3;
                box-shadow: 12px 0px 0px 0px #C7EBFC, 24px 0px 0px 0px #C7EBFC;
            }

            25% {
                background-color: #57C5F7;
                box-shadow: 12px 0px 0px 0px #57C5F7, 24px 0px 0px 0px #C7EBFC;
            }

            75% {
                background-color: #57C5F7;
                box-shadow: 12px 0px 0px 0px #C7EBFC, 24px 0px 0px 0px #57C5F7;
            }
        }

        @@keyframes line {
            0% {
                background-color: #03A9F3;
                box-shadow: 12px 0px 0px 0px #C7EBFC, 24px 0px 0px 0px #C7EBFC;
            }

            25% {
                background-color: #57C5F7;
                box-shadow: 12px 0px 0px 0px #57C5F7, 24px 0px 0px 0px #C7EBFC;
            }

            75% {
                background-color: #57C5F7;
                box-shadow: 12px 0px 0px 0px #C7EBFC, 24px 0px 0px 0px #57C5F7;
            }
        }
    </style>

}

@section scripts{
    <script src="~/Scripts/jquery-ui-1.13.0.custom/jquery-ui.min.js"></script>
    <script src="~/Script/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Script/jquery.validate.min.js"></script>
    <script src="~/Script/moment.min.js"></script>
    <script src="~/Scripts/CardDesignScripts.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/intl-tel-input/js/intlTelInput-jquery.min.js"></script>
    <script src="~/Scripts/intl-tel-input/js/intlTelInput.js"></script>
    @*<script src="~/assets/semantic.ui/semantic.min.js"></script>*@
    <script src="~/Scripts/SweetAlert2/sweetalert2.all.min.js"></script>
    <script src="~/select2/js/select2.min.js"></script>

    <script>
        var $ajaxHelperCreateForm = $('#ajaxHelperCreateForm');
        var $ajaxHelperCreateForm1 = $('#ajaxHelperCreateForm1');
        var VisitorList = [];
        var draggableElementData;

        var $submitBtn = $('#submitCreateCardsAll');
        var $submitBtnCards = $('#submitCreateCards');

        var $downloadAllCardsBtn = $('#submitDownloadCardsAll');
        var $downloadCardsBtn = $('#submitDownloadCards');


        $(document).ready(function () {

            $('#Event_Id').select2();
            $('#Visitor_Id').select2();

            eventDropdownListHandler();

         
            submitCreateBtn();
            submitCardsBtn();
            submitBulkCards();
            submitDownBtn();

        });

        @{ #region Ajax data sending section}

        function submitCreateBtn() {
 
             $submitBtn.on('click', function (e) {
                e.preventDefault();

                var $eventDropDown = $('#Event_Id');

                if ($eventDropDown.val() == '') {
                    alert("Please select event first");
                    return false;
                 }

                 Swal.fire({
                     //title: 'Are you sure?',
                     text: "Do you want to Generate Bulk Cards?",
                     icon: 'warning',
                     showCancelButton: true,
                     confirmButtonColor: '#3085d6',
                     cancelButtonColor: '#d33',
                     confirmButtonText: 'Yes!'
                 }).then((result) => {
                     if (result.isConfirmed) {

                         /* Call Ajax inside ajax, get draggable elements first and, send to Card Generation service */

                         const Toast = Swal.mixin({
                             toast: true,
                             position: 'top-end',
                             showConfirmButton: false,
                             timer: 4000,
                             timerProgressBar: true,
                             didOpen: (toast) => {
                                 toast.addEventListener('mouseenter', Swal.stopTimer)
                                 toast.addEventListener('mouseleave', Swal.resumeTimer)
                             }
                         })

                         var event_id = $eventDropDown.val();

                         $.ajax({
                             type: 'POST',
                             url: '@Url.Action("Measurements")/' + event_id,
                             success: function (data) {
                                 console.log(data.response);

                                 if (data.data == 1) {
                                     draggableElementData = data.DraggableElement;
                                     $.ajax({
                                         type: 'POST',
                                         url: '@Url.Action("BulkGenerateAndPreview", "CardDesignMaster")',
                                         data: draggableElementData,
                                         success: function (data) {
                                            // $('#submitDownloadCardsAll').removeClass('d-none');
                                             if (data.downloadStatus == true) {

                                                 Toast.fire({
                                                     icon: 'success',
                                                     title: data.message
                                                 })
                                             } else {
                                                 Toast.fire({
                                                     icon: 'error',
                                                     title: data.message
                                                 })
                                             }
                                         }
                                     });
                                 }

                                 if (data.data == 0) {
                                     Toast.fire({
                                         icon: 'error',
                                         title: 'Missing Design and Card details'
                                     })
                                 }

                             }


                         });


                     }

                 });


            });
        }

        function submitCardsBtn() {

             $submitBtnCards.on('click', function (e) {
                e.preventDefault();
                 var $eventDropDown = $('#Event_Id');
                 var $VisitorsDropDown = $('#Visitor_Id');

                    if ($eventDropDown.val() == '') {
                        alert("Please select event first");
                        return false;
                    }

                     if ($VisitorsDropDown.val() == '') {
                         alert("Please select visitors first");
                         return false;
                 }
                
                 Swal.fire({
                     //title: 'Are you sure?',
                     text: "Do you want to Generate Multiple Cards?",
                     icon: 'warning',
                     showCancelButton: true,
                     confirmButtonColor: '#3085d6',
                     cancelButtonColor: '#d33',
                     confirmButtonText: 'Yes!'
                 }).then((result) => {
                     if (result.isConfirmed)
                     {
                         var visitors = $('#Visitor_Id').val();

                         var getInvitees=[];
                         getInvitees.push(getInvitees);
                        @* var Event_Id = $('#Event_Id').val();*@

                      
                          /* Call Ajax inside ajax success, get draggable elements first and, send to Card Generation service */

                         const Toast = Swal.mixin({
                             toast: true,
                             position: 'top-end',
                             showConfirmButton: false,
                             timer: 4000,
                             timerProgressBar: true,
                             didOpen: (toast) => {
                                 toast.addEventListener('mouseenter', Swal.stopTimer)
                                 toast.addEventListener('mouseleave', Swal.resumeTimer)
                             }
                         })

                         var event_id = $eventDropDown.val();

                         $.ajax({
                             type: 'POST',
                             url: '@Url.Action("Measurements")/' + event_id,
                             success: function (data) {
                               

                                 if (data.data == 1) {

                                     data.DraggableElement.Visitors = visitors;
                                     draggableElementData = data.DraggableElement;


                                     $.ajax({
                                         type: 'POST',
                                         url: '@Url.Action("GenerateAndPreview2", "CardDesignMaster")',
                                         data: draggableElementData,
                                         success: function (data) {

                                            // $('#submitDownloadCards').removeClass('d-none');

                                             if (data.downloadStatus == true) {
                                                 $downloadCardsBtn.addClass('d-block');

                                                 Toast.fire({
                                                     icon: 'success',
                                                     title: data.message
                                                 })
                                             } else {
                                                 Toast.fire({
                                                     icon: 'error',
                                                     title: data.message
                                                 })
                                             }
                                         }
                                     });
                                 }

                                 if (data.data == 0) {
                                     Toast.fire({
                                         icon: 'error',
                                         title: 'Missing Cards Design and details'
                                     })
                                 }

                             }

                         });

                     }

                 });


            });
        }

        function submitBulkCards() {

            $downloadAllCardsBtn.on('click', function (e) {
                e.preventDefault();

            var $eventDropDown = $('#Event_Id');

            if ($eventDropDown.val() == '') {
                alert("Please select event first");
                return false;
                }

                if ($eventDropDown.val() !== '') {
                    location.href = "@Url.Action("BulkDownloadGenerateAndPreview", "CardDesignMaster")?event_id=" + $eventDropDown.val();
                } else {
                    alert("Please select event first");
                }

            });
        }

        function submitDownBtn() {

            $downloadCardsBtn.on('click', function (e) {
                e.preventDefault();

            var $eventDropDown = $('#Event_Id');

            if ($eventDropDown.val() == '') {
                alert("Please select event first");
                return false;
                }

                if ($eventDropDown.val() !== '') {
                    location.href = "@Url.Action("BulkDownloadGenerateAndPreview", "CardDesignMaster")?event_id=" + $eventDropDown.val();
                } else {
                    alert("Please select event first");
                }

            });
        }



        function eventDropdownListHandler() {
            var $eventDropdownList = $("#Event_Id");


            $eventDropdownList.on('change', function (e) {
                e.preventDefault();
                var eventId = $eventDropdownList.val();
                if ($eventDropdownList.val() == '') {
                    alert("Please select event first");
                    return false;
                }
                // Send Data to Controller On change Event Id
                 $.ajax({
                    type: 'POST',
                     url: '@Url.Action("AllInvitee")/' + eventId,

                     success: function (data) {
                         console.log(data);

                         var s = '<option value="-1">Please Select Invitees</option>';
                         for (var i = 0; i < data.visitorSelectionList.length; i++) {
                             s += '<option value="' + data.visitorSelectionList[i].Value + '">' + data.visitorSelectionList[i].Text + '</option>';
                         }
                         console.log(data.visitorSelectionList[0]);

                         $("#Visitor_Id").html(s);

                    }
                 });


            });

        }


        @{ #endregion;}



    </script>
}