@model FUNDING.BL.BusinessEntities.Masters.Visitors_Verification

@{ Layout = "~/Views/Shared/_Customers.cshtml";

                ViewBag.Title = "Visitor Verificaton";

                ViewData["Title"] = "Invitees Verification";
                ViewData["Home"] = "Home"; }

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">@ViewData["Title"]</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "CustomerActivity")">@ViewData["Home"]</a></li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ol>
        </div>
    </div>
</div>
<div class="card border-0">
    <div class="card-body">
        <div style="display: inline-flex">
            <div id="visitorSummaryBox" class="position-relative p-2 border border-success rounded">
                <span class="h6 m-0">Total Verified Invitees: </span>
                <span style="font-size: 0.75rem; font-weight: 600;" class="badge rounded-pill bg-info" id="VisitorsCount"></span>
                <div class="btn-group align-self-end">
                    <!-- Button trigger modal -->
                    @* <button type="button" class="btn btn-outline-success btn-rounded" data-bs-toggle="modal" data-bs-target="#ajaxHelperBulkUploadModal">
            <i class="fas fa-upload"></i>
            @ViewData["Bulk_Upload"]
            </button>
            <button type="button" class="btn btn-outline-primary btn-rounded" data-bs-toggle="modal" data-bs-target="#ajaxHelperCreateModal">
                <i class="fas fa-plus"></i>
                @ViewData["Bct"]
            </button>

            <button type="button" class="btn btn-outline-secondary btn-rounded" id="sendsms">
                <i class="fas fa-paper-plane"></i>
                Send All SMS
            </button>

            <button type="button" class="btn btn-sm btn-outline-warning btn-rounded" data-bs-toggle="modal" data-bs-target="#ajaxHelperBulkUploadInviteeModal">
                <i class="fas fa-upload"></i>
                Invitee Code Upload
            </button>
                    *@

                    <button type="button" class="btn btn-sm btn-outline-primary btn-rounded" data-id="@ViewBag.eventId" id="inviteepdf">
                        <i class="fas fa-download"></i>
                        Export PDF Report
                    </button>
                </div>
            </div>
        </div>
        <hr />

        <div class="table-responsive with-loader">
            <table id="VisitorsTable" class="table table-bordered display" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="th-sno pl-0 text-center">Sno</th>
                        <th>Visitor Name</th>
                        <th>Checked-in Invitees</th>
                        <th>Check-in time</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" />

    <style>
        .datepicker td, .datepicker th {
            padding: 3px !important;
        }
    </style>
}

@section Scripts {
    <script src="~/Script/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Script/jquery.validate.min.js"></script>
    <script src="~/Scripts/SweetAlert2/sweetalert2.all.min.js"></script>
    <script src="~/Script/moment.min.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Script/app.js"></script>

    <script>

        var $VisitorsTable = $('#VisitorsTable');
        var $modalPreLoader = $('#modal_pre-loader');

        $(document).ready(function () {
            VisitorsDatatable = $VisitorsTable.DataTable({
                processing: true,
                deferRender: true,
                stateSave: 5*60,
                language: {
                    processing:
                        "<div class='d-flex justify-content-center align-items-center h-100'>"+
                        "\t<div class='ripple-pre-loader'>" +
                        "\t\t<div></div>" +
                        "\t\t<div></div>" +
                        "\t</div>"+
                        "</div>"
                },

                ajax: {
                    url: "@Url.Action("IndexDataTable")",
                    type: "POST",
                    dataType: "json",
                },

                columns: [
                    { title: 'Sno',data: 'id' },
                    { data: 'visitor_name', title:'Invitee Name'},
                    { data: 'no_of_persons', title:'Checked-in Invitees'},
                    { data: 'check_in_time', title:'Check-in Time'},
                    { data: 'scan_status', title: 'Status' },
                ]

            });

            VisitorsDatatable.on('xhr', function () {
                var ajaxJson = VisitorsDatatable.ajax.json();
                $('#VisitorsCount').text(ajaxJson.TotalInvitees);
            });


            $('#inviteepdf').click(function () {

                var dataid = $(this).attr('data-id');
                if (dataid !== '') {
                    location.href = "@Url.Action("CheckinReportinvitees", "VisitorVerification")?event_id=" + dataid;
                } else {
                    Swal.fire(
                        'Error',
                        'invitee-Check-In Report not generated',
                        'info'
                    );
                }
                 });
            });
    </script>
}
