@{
    ViewBag.Title = "Employees Details";
    Layout = "~/Views/Shared/Funding.cshtml";
}

@section styles{
    <style>
        form label {
            margin-bottom: .25rem;
        }
    </style>
}

@section scripts{
    <script type="text/javascript">
    var glob;
    jQuery(document).ready(function () {
        whitespacevalidation('txtuname');
        whitespacevalidation('txtempid');

        var logrolname = '@Session["role"]';

        bindempDetails();


            bindRoleDetails();



        jQuery("#btnSubmit").click(function () {
            opType = jQuery("#hdnEmployee").val();
            var message = validateEmployeeemp();
            if (message.length > 0 && opType != 'D') {
                notifyMessage(message, 'danger');
            }
            else {
                if (opType == 'C') {
                    var x = confirm("Are you sure you want to Save?");
                    if (x) {
                        addch();
                        return true;
                    }
                    else
                        return false;
                }
                else if (opType == 'U') {
                    var x = confirm("Are you sure you want to Update?");
                    if (x) {
                        addch();
                        return true;
                    }
                    else
                        return false;
                }
            }
        })
        jQuery("#btnDelete").click(function () {
            delchruch();
        });
    });
    @*function Getcolumnslang() {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("bindlan", "EMPLOYDET")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                }
            }
        });
    }*@

    function binduserloginteams()
    {
         jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetTeam", "ExpensesMaster")',
            data: JSON.stringify({ 'usno': '@Session["UserID"]'}),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                //jQuery("#ddltd").append(jQuery("<option></option>").val(0).html('Select'));
                if (data != null) {

                    jQuery.each(data, function (key, value) {
                        jQuery("#ddlteam").append(jQuery("<option></option>").val(value.Team_Det_Sno).html(value.Team_Name));
                    });
                }
            }
         })
    }

   function binduserteamDetails() {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetTeam", "EMPLOYDET")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#ddlteam").append(jQuery("<option></option>").val(0).html('Select Team'));
                if (data != null) {
                    jQuery.each(data, function (key, value) {
                        jQuery("#ddlteam").append(jQuery("<option></option>").val(value.Team_Det_Sno).html(value.Team_Name));
                    });
                }
            }
        })
    }

    function bindempDetails() {

        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetEMPDetails", "EMPLOYDET")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#tbl-smtp tbody").empty();
                if (jQuery.fn.DataTable.isDataTable("#tbl-smtp")) {
                    jQuery('#tbl-smtp').DataTable().clear().destroy();
                }
                if (data != 0) {
                    var i = 1;
                    jQuery.each(data, function (key, value) {
                        var row = '<tr>' +
                            '<td>' + i + '</td>' +
                            '<td>' + value.Emp_Id_No + '</td>' +
                            '<td>' + value.Full_Name + '</td>' +
                            '<td>' + value.Desg_name + '</td>' +
                            '<td>' + value.Email_Address + '</td>' +
                            '<td>' + value.Emp_Status + '</td>' +
                            //'<td ><button class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#modal-ch" id="btn' + value.Detail_Id + '" data-sid="' + value.Detail_Id + '" value="Edit" onclick="showchModaldet(this)"><i class="fas fa-pen" ></i ></button ></td>' +
                            '<td ><button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#modal-ch" id="btn' + value.Detail_Id + '" data-sid="' + value.Detail_Id + '" value="Edit" onclick="showchModaldet(this)"><i class="fas fa-pen" ></i ></button >&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-danger btn-sm" data-sid="' + value.Detail_Id + '" data-pwd="' + value.Emp_Id_No + '" id="btnDelete" data-rec="0" onclick="delchruch(this)"><i class="fas fa-trash" aria-hidden="true"></i></button></td>' +
                            '</tr>';
                        jQuery("#tbl-smtp tbody").append(row);
                        i++;
                    });
                }
                applyDatatable('tbl-smtp');
            }
        })
    }

     function bindempDetails_user() {

        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetEMPDetailsuser", "EMPLOYDET")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#tbl-smtp tbody").empty();
                if (jQuery.fn.DataTable.isDataTable("#tbl-smtp")) {
                    jQuery('#tbl-smtp').DataTable().clear().destroy();
                }
                if (data != 0) {
                    var i = 1;
                    jQuery.each(data, function (key, value) {
                        var row = '<tr>' +
                            '<td>' + i + '</td>' +
                            '<td>' + value.Emp_Id_No + '</td>' +
                            '<td>' + value.Full_Name + '</td>' +
                            '<td>' + value.Desg_name + '</td>' +
                            '<td>' + value.Email_Address + '</td>' +
                            '<td>' + value.Emp_Status + '</td>' +
                            //'<td ><button class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#modal-ch" id="btn' + value.Detail_Id + '" data-sid="' + value.Detail_Id + '" value="Edit" onclick="showchModaldet(this)"><i class="fas fa-pen" ></i ></button ></td>' +
                            '<td ><button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#modal-ch" id="btn' + value.Detail_Id + '" data-sid="' + value.Detail_Id + '" value="Edit" onclick="showchModaldet(this)"><i class="fas fa-pen" ></i ></button >&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-danger btn-sm" data-sid="' + value.Detail_Id + '" data-pwd="' + value.Emp_Id_No + '" id="btnDelete" data-rec="0" onclick="delchruch(this)"><i class="fas fa-trash" aria-hidden="true"></i></button></td>' +
                            '</tr>';
                        jQuery("#tbl-smtp tbody").append(row);
                        i++;
                    });
                }
                applyDatatable('tbl-smtp');
            }
        })
    }

    @*function binddesgyDetails() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetdesgDetails", "EMPLOYDET")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                $("#ddldesg").append($("<option></option>").val(0).html('Select'));
                if (data != null) {
                    $.each(data, function (key, value) {
                        $("#ddldesg").append($("<option></option>").val(value.Desg_Id).html(value.Desg_Name));
                    });
                }
            }
        })
    }*@

    function bindRoleDetails_unq() {
        jQuery.ajax({
            type: 'GET',
            url: '@Url.Action("GetRoleDetails_unq", "EMPLOYDET")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
              //  jQuery("#ddldesg").append(jQuery("<option></option>").val(0).html('Select Role'));
                if (data != null) {
                    jQuery.each(data, function (key, value) {
                        jQuery("#ddldesg").append(jQuery("<option></option>").val(value.Sno).html(value.Description));
                    });
                }
            }
        })
    }
    function bindRoleDetails() {
        jQuery.ajax({
            type: 'GET',
            url: '@Url.Action("GetRoleDetails", "EMPLOYDET")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#ddldesg").append(jQuery("<option></option>").val(0).html('Select Role'));
                if (data != null) {
                    jQuery.each(data, function (key, value) {
                        jQuery("#ddldesg").append(jQuery("<option></option>").val(value.Sno).html(value.Description));
                    });
                }
            }
        })
    }
    //var doublecheckemail = true;
    //var doubleuser;
    function binddupliacteDetailsEmail(mail) {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("CheckdupliacteEmail", "EMPLOYDET")',
            data: JSON.stringify({ 'email': mail }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    doublecheckemail = false;
                }
                else {
                    doublecheckemail = true;
                }
            }
        })
    }
    function binddupliacteDetailsempid(empid) {
         jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("Checkdupliacteempid", "EMPLOYDET")',
             data: JSON.stringify({ 'empid': empid }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    alert("jaah");
                    doubleuser = false;
                }
                else {
                    doubleuser = true;
                    //lblError1.innerHTML = "";
                }
            }
        })
    }
    function binddupliacteDetails(name) {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("Checkdupliacte", "EMPLOYDET")',
            data: JSON.stringify({ 'name': name }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    doublecheckusername = false;
                }
                else {
                    doublecheckusername = true;
                   // lblError1.innerHTML = "";
                }
            }
        })
    }
    function binddupliactemobileno(newmob) {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("Checkdupliactemobile", "EMPLOYDET")',
            data: JSON.stringify({ 'mob': newmob }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    doubleumobile = false;
                }
                else {
                    doubleumobile = true;
                    //lblError1.innerHTML = "";
                }
            }
        })

    }
    function delchruch(e) {
        var st = jQuery(e).data('pwd');
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            jQuery('#hdnEmployee').val('D');
            cid = jQuery(e).data('sid');
            deletech(cid, st);
            return true;
        }
        else
            return false;
    }
    function addch() {
        var message = validateEmployeeemp();
        type = '',
            opType = jQuery("#hdnEmployee").val();
        if (message.length > 0 && opType != 'D') {
            notifyMessage(message, 'danger');
        }
        else {
            var params = JSON.stringify(getSMTPValuesdet());
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("AddEmp", "EMPLOYDET")',
                data: params,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {

                    //jQuery('#modal-ch').modal('hide');

                    //hideModal('modal-ch');
                    opType = jQuery("#hdnEmployee").val();
                    if (opType == 'C' && data) {
                        if (data == true) {
                            message = jQuery("#txtempid").val() + ' Already Exists.';
                            //message = 'Employee id /Username /Emailid/Mobile no Already Exists.';
                            type = 'danger';
                        }
                        else {
                            message = 'Successfully Created.';
                            type = 'success';
                        }
                    }
                    else if (opType == 'U' && data) {
                        if (data == false && ak == true) {
                            message = jQuery("#txtempid").val() + ' Already Exists';
                            type = 'danger';
                        }
                        else {
                            message = 'Successfully Updated';
                            type = 'success';
                        }
                    }
                    jQuery("#loader").css("display", "none");
                    notifyMessage(message, type);
                    @*if (@Session["Desg"].ToString() == "1") {
                        bindempDetails();
                    }
                    else {*@
                      //  bindempDetails_user();
                    bindempDetails();
                    jQuery('#modal-ch').hide();
                    jQuery('.modal-backdrop').hide();
                }
            })
        }
    }
    function deletech(cid, st) {
        type = '',
            opType = jQuery("#hdnEmployee").val();
        jQuery("#loader").css("display", "block");
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteEmp", "EMPLOYDET")',
            data: JSON.stringify({ 'sno': cid }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {

                //hideModal('modal-ch');
                if (opType == 'D' && data) {
                    message = st + ' Successfully Deleted';
                    type = 'success';
                }
                notifyMessage(message, type);
                //bindempDetails();
                @*if (@Session["Desg"].ToString() == "1") {
                    bindempDetails();
                }
                else {*@
                    //bindempDetails_user();
                bindempDetails();
                jQuery('#modal-ch').hide();
                jQuery('.modal-backdrop').hide();
            }
        })
    }
    function showchModaldet(e) {
        //jQuery("#txtSEmID").val("");
        var txtempid = document.getElementById('txtempid');
        var txtf = document.getElementById('txtfirstname');
        var txtm = document.getElementById('txtmiddle');
        var txtl = document.getElementById('txtlast');
        var ddesg = document.getElementById('ddldesg');
        var txtEmail = document.getElementById('txtEmail');
        var txtmo = document.getElementById('txtMobile');
        var txtunsr = document.getElementById('txtuname');
        txtSID = document.getElementById('txtSID');
        rblGender = jQuery("input[name='gender']:checked");
        var tblemployee = document.getElementById('tbl-smtp'),
            rows = tblemployee.rows,
            hdnEmployee = document.getElementById('hdnEmployee');
        doublemobemp = true;
        jk = false;
        if (e.value.indexOf('Edit') > -1) {
            jQuery('#txtempid').css('border-color', '');
            jQuery('#txtfirstname').css('border-color', '');
            jQuery('#txtmiddle').css('border-color', '');
            jQuery('#txtlast').css('border-color', '');
            jQuery('#txtuname').css('border-color', '');
            jQuery('#ddldesg').css('border-color', '');
            jQuery('#txtEmail').css('border-color', '');
            jQuery('#txtMobile').css('border-color', '');
            lblid.innerHTML = "";
            lblf.innerHTML = "";
            lbll.innerHTML = "";
            lblu.innerHTML = "";
            lblErroremail1.innerHTML = "";
            lblError2.innerHTML = "";
            jQuery("#btnSubmit").html('@ViewData["BUpd"]');
            for (var i = 0, row = null; i < rows.length; i++) {
                row = rows[i];
                if (row.cells[6].innerHTML.indexOf(e.id) > -1) {
                    txtSID.value = jQuery(e).data('sid');
                    jQuery.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetEmpindivi", "EMPLOYDET")',
                        cache: true,
                        data: JSON.stringify({ 'Sno': jQuery(e).data('sid') }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {
                            jQuery("#loader").css("display", "none");
                            if (data != null) {
                                txtempid.value = decodeHTMLEntities(data.Emp_Id_No);
                                txtf.value = decodeHTMLEntities(data.First_Name);
                                txtm.value = decodeHTMLEntities(data.Middle_name);
                                txtl.value = decodeHTMLEntities(data.Last_name);
                                txtunsr.value = decodeHTMLEntities(data.User_name);
                                txtEmail.value = decodeHTMLEntities(data.Email_Address);
                                //jQuery("#txtSEmID").val(data.Email_Address);
                                ddesg.value = data.Desg_Id;
                                var roletype = data.Desg_Id;

                                //if (roletype == 4) {
                                //    ddlteam.value = data.team_det_sno;
                                //    jQuery('#ddlteam').prop("disabled", false);
                                //}
                                //else  {
                                //    ddlteam.value = data.team_det_sno;
                                //}

                                //bindbran(data.Branch_Sno)

                                txtmo.value = data.Mobile_No.substr(3, 9);//data.Mobile_No;
                                jQuery('#txtempid').prop("disabled", true);
                                jQuery('#txtuname').prop("disabled", true);
                                var flag = data.Emp_Status;
                                if (flag == 'Active') {
                                    jQuery("#rbtrue").prop("checked", true);
                                    jQuery("#rbfalse").prop("checked", false);
                                }
                                else if (flag == 'InActive') {
                                    jQuery("#rbtrue").prop("checked", false);
                                    jQuery("#rbfalse").prop("checked", true);
                                }
                                else {
                                    jQuery("#rbtrue").prop("checked", false);
                                    jQuery("#rbfalse").prop("checked", false);
                                }
                            }
                        }
                    })
                }
            }
            hdnEmployee.value = 'U';
        }
        else if (e.value.indexOf('Add') > -1) {
            resetchru();
            var rolname = '@Session["role"]';
            jQuery("#btnSubmit").html('@ViewData["Bsav"]');
            jQuery("#rbtrue").prop("checked", true);
            hdnEmployee.value = 'C';
            jQuery('#txtempid').prop("disabled", false);
            jQuery('#txtuname').prop("disabled", false);
            jQuery("#loader").css("display", "none");

            //24.11.2021
            if (rolname == "Admin") {

                jQuery('#ddldesg').prop("disabled", false);
               // jQuery('#ddlteam').prop("disabled", true);
            }
            else if (rolname == "Team") {

                jQuery('#ddldesg').prop("disabled", false);
                //jQuery('#ddlteam').prop("disabled", false);
            }
            else {
               // jQuery('#ddlteam').prop("disabled", true);
            }

        }

    }
    function dataignorepaste(evt) {
        dataignorepaste(evt, "txtempid");
        dataignorepaste(evt, "txtfirstname");
        dataignorepaste(evt, "txtlast");
        dataignorepaste(evt, "txtuname");
    }
    function textboxborder(e) {
        jQuery('#txtempid').css('border-color', '');
    }
    function textboxborder1(e) {
        jQuery('#txtfirstname').css('border-color', '');
    }
    function textboxborder2(e) {
        jQuery('#txtmiddle').css('border-color', '');
    }
    function textboxborder3(e) {
        jQuery('#txtlast').css('border-color', '');
    }
    function textboxborder4(e) {
        jQuery('#txtuname').css('border-color', '');
    }
    function textboxborder5(e) {
        jQuery('#ddldesg').css('border-color', '');
    }
    function textboxborder6(e) {
        jQuery('#txtEmail').css('border-color', '');
    }
    function textboxborder7(e) {
        jQuery('#txtMobile').css('border-color', '');
        }

        //function hideModal(modal) {
        //    jQuery('#'+modal).modal('hide');
        //};
    </script>
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">@ViewData["users"]</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Setup", "Setup")">@ViewData["hom"]</a></li>
                <li class="breadcrumb-item active">@ViewData["users"]</li>
            </ol>
        </div>
    </div>
</div>

<div class="card border-0">
    <div class="card-body">
        @* <h5 class="card-title" id="lblbu">Users</h5> *@
        <div class="form-group text-end">
            <button type="button" id="btnAdd" value="Add" data-sid="0" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#modal-ch" onclick="showchModaldet(this);">
                <i class="fas fa-plus"></i>
                @ViewData["Bct"]
            </button>
            <input type="hidden" id="hdnEmployee" />
        </div>
        <hr />
        <div class="table-responsive pb-2">
            <table id="tbl-smtp" class="table table-bordered zero-configuration dataTable rounded display" style="width: 100%">
                <thead>
                    <tr>
                        <th class="th_sno">Sno</th>
                        <th>@ViewData["uid"]</th>
                        <th>@ViewData["funame"]</th>
                        <th>@ViewData["role"]</th>
                        <th>@ViewData["emaiid"]</th>
                        <th class="th_sno">@ViewData["Bstat"]</th>
                        <th class="th_actions" data-sort-ignore="true">@ViewData["Bact"]</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!-- [MODALS] -->
<div class="modal fade" id="modal-ch" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered believerModal modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblbu1">@ViewData["users"]</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="col-12 p-0 mx-auto" action="Brnch/AddBrnch" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for=" gender" class="f-label_align label-115">@ViewData["uid"]<span class="text-danger">*</span></label>
                            <input type="text" class="form-control input-sm" id="txtempid" placeholder="User ID"
                                   onfocus="return textboxborder(this)" onkeypress="validDet(this)" onkeydown="return (event.keyCode!=13);"
                                   onpaste="return dataignorepaste(event);"
                                   onfocusout="checkduplicateempid(this.value)"
                                   @*onfocusout="return validatemaxlength(this,50,lblid)"*@>
                            <input type="text" class="form-control input-sm d-none" id="txtSID">
                            <input type="text" class="form-control input-sm d-none" id="txtSEmID">
                            <span id="lblid" class="text-danger"></span>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for=" gender" class="f-label_align label-115">@ViewData["fname"]<span class="text-danger">*</span></label>
                            <input type="text" class="form-control input-sm" id="txtfirstname" placeholder="First Name" onfocus="return textboxborder1(this)" onpaste="return dataignorepaste(event);" onfocusout="return validatemaxlength(this,50,lblf)">
                            <span id="lblf" class="text-danger"></span>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for=" gender" class="f-label_align label-115">@ViewData["mname"]</label>
                            <input type="text" class="form-control input-sm" id="txtmiddle" placeholder="Middle Name" onfocus="return textboxborder2(this)" onpaste="return dataignorepaste(event);">
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for=" gender" class="f-label_align label-115">@ViewData["lname"]<span class="text-danger">*</span></label>
                            <input type="text" class="form-control input-sm" id="txtlast" placeholder="Last Name" onfocus="return textboxborder3(this)" onpaste="return dataignorepaste(event);" onfocusout="return validatemaxlength(this,50,lbll)">
                            <span id="lbll" class="text-danger"></span>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for=" txtdDesignation" class="f-label_align label-115">@ViewData["uname"]<span class="text-danger">*</span></label>
                            <input type="text" class="form-control input-sm" id="txtuname" onfocus="return textboxborder4(this)" onpaste="return dataignorepaste(event);"
                                   onfocusout="checkduplicate(this.value)" placeholder="Username"
                                   @*onfocusout="return validatemaxlength(this,50,lblu)"*@>
                            <span id="lblu" class="text-danger"></span>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for=" txtdDesignation" class="f-label_align label-115">@ViewData["role"]<span class="text-danger">*</span></label>
                            <select id="ddldesg" class="form-control" name="ddldesg" onfocus="return textboxborder5(this)" onchange="selectteam(this);"></select>
                        </div>

                        @*13.09.2021*@
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <div>
                                <label for=" gender" class="f-label_align label-115">@ViewData["mobnum"]<span class="text-danger">*</span></label>
                                @*<input type="text" class="form-control col-sm-2" id="txtMobprefix" placeholder="255" maxlength="3" value="255" readonly>
                                    <input type="text" class="form-control col-sm-4" id="txtMobile" placeholder="123456789" maxlength="9" onfocus="return textboxborder7(this)" onfocusout="mobileNumEmpValiadte(this);">
                                    <span id="lblError2" class="text-danger"></span>*@


                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text h-100" id="txtMobprefix">255</span>
                                    </div>
                                    <input class="form-control" type="text" name="txtMobile" id="txtMobile" placeholder="123456789" maxlength="9"
                                           onfocus="return textboxborder7(this)"
                                           onfocusout="mobileNumEmpValiadte(this);">
                                    <span id="lblError2" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for=" gender" class="f-label_align label-115">@ViewData["emaiid"]<span class="text-danger">*</span></label>
                            <input type="text" class="form-control input-sm" id="txtEmail" placeholder="Email" onfocus="return textboxborder6(this)" @*onkeyup="ValidateEmailemp(this);"*@ onchange="ValidateEmailemp(this);" />
                            <span id="lblErroremail1" class="text-danger"></span>
                        </div>


                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for="gender" class="col-auto">
                                @ViewData["Bstat"]
                                <span class="text-danger">*</span>
                            </label>
                            <div class="form-check form-check-inline ms-3">
                                <label class="form-check-label mr-2">
                                    <input class="form-check-input" type="radio" name="gender" id="rbtrue" value="Active">
                                    Active
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="gender" id="rbfalse" value="InActive">
                                    Inactive
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Preloader -->
                <div id="loader">
                    <div>
                        <div class="lds-dual-ring"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info btn-rounded" id="btnSubmit">@ViewData["Bsav"]</button>
                    <button type="button" class="btn btn-outline-danger btn-rounded" data-dismiss="modal">@ViewData["Bclo"]</button>
                </div>
            </form>
        </div>
    </div>
</div>