@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/Funding.cshtml";
}

@section scripts{
    <script type="text/javascript">
    var delet, edit;
    jQuery(document).ready(function () {
        bindEmail();
        getaccess();
        jQuery("#btnSubmit").click(function () {
            opType = jQuery("#hdnEmployee").val();
            var message = validateEmployeeemail();
            if (message.length > 0 && opType != 'D') {
                notifyMessage(message, 'danger');
            }
            else {
                if (opType == 'C') {
                    var x = confirm("Are you sure you want to Save?");
                    if (x) {
                        addEmail();
                        return true;
                    }
                    else
                        return false;
                } else {
                    var x = confirm("Are you sure you want to Update?");
                    if (x) {
                        addEmail();
                        return true;
                    }
                    else
                        return false;
                }
            }
        })
        jQuery("#btnDelete").click(function () {
            delEmail();
        });
    });
    function getaccess() {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("Editright", "AccessRights")',
            data: JSON.stringify({ 'name': 'Email' }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (value) {
                //jQuery.each(data, function (key, value) {
                    if (value.Aview == "Y") {
                        document.getElementById("btnAdd").style.visibility = "Visible";
                        delet = true;
                        edit = true;
                    }
                    else {
                        document.getElementById("btnAdd").style.visibility = "hidden";
                        delet = false;
                        edit = false;
                    }
                    if (value.AAdd == "Y") {
                        document.getElementById("btnAdd").style.visibility = "visible";
                    }
                    else {
                        document.getElementById('btnAdd').style.visibility = "hidden";
                    }
                    //if (value.ADelete == "Y") {
                    //    delet = true;
                    //}
                    //else {
                    //    delet = false;
                    //}
                    if (value.AUpdate == "Y") {
                        edit = true;
                    }
                    else {
                        edit = false;
                    }
                //})
            }
        });
    }
    function showSMTPModalEmail(e) {
        var txttext = document.getElementById('txtEtext');
        var ddlflow = document.getElementById('ddlflow');
        var txtsub = document.getElementById('txtsub');
        var txtsubloc = document.getElementById('txtsubloc');
        var txtloc = document.getElementById('txtloctext');
        txtSID = document.getElementById('txtSID');
        var tblemployee = document.getElementById('tbl-smtp'),
            rows = tblemployee.rows,
            hdnEmployee = document.getElementById('hdnEmployee');
        if (e.value.indexOf('Edit') > -1) {
            jQuery("#btnSubmit").html('@ViewData["BUpd"]');
            for (var i = 0, row = null; i < rows.length; i++) {
                row = rows[i];
                if (row.cells[7].innerHTML.indexOf(e.id) > -1) {
                    txtSID.value = jQuery(e).data('sid');
                    ddlflow.value = row.cells[2].innerHTML;
                    txtsub.value = row.cells[3].innerHTML;
                    txtsubloc.value = row.cells[4].innerHTML;
                    txttext.value = row.cells[5].innerHTML;
                    txtloc.value = row.cells[6].innerHTML;
                    break;
                }
            }
            hdnEmployee.value = 'U';
        }
        else if (e.value.indexOf('Add') > -1) {
            resetSMTPemail();
            jQuery("#btnSubmit").html('@ViewData["Bsav"]');
            hdnEmployee.value = 'C';
        }
        else if (e.value.indexOf('Delete') > -1) {
            for (var i = 0, row = null; i < rows.length; i++) {
                row = rows[i];
                if (row.cells[7].innerHTML.indexOf(e.id) > -1) {
                    txtSID.value = jQuery(e).data('sid');
                    hdnEmployee.value = 'D';
                    var result = confirm("Are you sure you want to delete?");
                    if (result) {
                        var st = row.cells[1].innerHTML;
                        deletebranch(txtSID.value, st);
                    }
                }
            }
        }
    }
    var glob;
    function bindEmail() {
        jQuery.ajax({
            type: 'POST',
            url: '@Url.Action("GetEmailDetails", "Email")',
            data: '{}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                jQuery("#tbl-smtp tbody").empty();
                if (jQuery.fn.DataTable.isDataTable("#tbl-smtp")) {
                    jQuery('#tbl-smtp').DataTable().clear().destroy();
                }
                if (data != 0) {
                    var count = 1;
                    jQuery.each(data, function (key, value) {
                        //var del = delet == true ? '<button class="btn btn-outline-dark btn-sm" data-sid="' + value.SNO + '" data-pwd="' + value.District_Name + '" id="btnDelete" data-rec="0" onclick="delDist(this)"><i class="fas fa-trash" aria-hidden="true"></i></button>' : '';
                        var updta = edit == true ? '<button class="btn btn-outline-secondary btn-sm" data-toggle="modal" id = "btn' + value.SNO + '"  data-sid="' + value.SNO + '" value = "Edit" data-target="#modal-smtp" onclick = "showSMTPModalEmail(this)" ><i class="fas fa-pen"></i></button >' : '';
                        var name = '';
                        if (value.Flow_Id == 1) {
                            name = "On Registration";
                        }
                        else if (value.Flow_Id == 2) {
                            name = "User Registratio";
                        }
                        else if (value.Flow_Id == 3) {
                            name = "On Approve";
                        }
                        else if (value.Flow_Id == 4) {
                            name = "On Return";
                        }
                        else if (value.Flow_Id == 5) {
                            name = "OTP Activation";
                        }
                        var row = '<tr>' +
                            '<td>' + count + '</td>' +
                            '<td>' + name + '</td>' +
                            '<td class="d-none">' + value.Flow_Id + '</td>' +
                            '<td>' + value.Subject + '</td>' +
                            '<td>' + value.Local_subject + '</td>' +
                            '<td>' + value.Email_Text + '</td>' +
                            '<td>' + value.Local_Text + '</td>' +
                            '<td>' + updta + '</td>' +
                            //'<td><button class="btn btn-outline-secondary btn-sm" data-toggle="modal" id = "btn' + value.SNO + '"  data-sid="' + value.SNO + '" value = "Edit" data-target="#modal-smtp" onclick = "showSMTPModalEmail(this)" ><i class="fas fa-pen"></i></button >&nbsp;&nbsp;<button id = "btn' + value.SNO + '"  data-sid="' + value.SNO + '" value = "Delete" onclick="showSMTPModalEmail(this)" class="btn btn-outline-dark btn-sm distloc"><i class="fas fa-trash" aria-hidden="true"></i></button ></td > ' +
                        '</tr>';
                        count++;
                        jQuery("#tbl-smtp tbody").append(row);
                    });
                }
               applyDatatable('tbl-smtp');
            }
        })
    }
    function addEmail() {
        var message = validateEmployeeemail(),
            type = '',
            opType = jQuery("#hdnEmployee").val();
        if (message.length > 0 && opType != 'D') {
            notifyMessage(message, 'danger');
        }
        else {
            var params = JSON.stringify(getSMTPValuesemail());
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("AddEmail", "Email")',
                data: params,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    hideModal('modal-smtp');
                    var ddlflow = document.getElementById('ddlflow');
                    var text = ddlflow.options[ddlflow.selectedIndex].text;
                    if (opType == 'C' && data) {
                        if (data == true) {
                            message = text + ' Already Exist.';
                            type = 'danger';
                        }
                        else
                        {
                            message = text + ' Flow Successfully Created';
                            type = 'success';
                        }
                    }
                    else if (opType == 'U' && data ) {
                            message = text + ' Flow Successfully Updated';
                            type = 'success';
                    }
                    notifyMessage(message, type);
                    bindEmail();
                    jQuery('.modal-backdrop').hide();
                }
            })
        }
    }
     function deletebranch(cid,st) {
         type = '',
         opType = jQuery("#hdnEmployee").val();
         var ddlflow = document.getElementById('ddlflow');
          jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteEmail", "Email")',
                data: JSON.stringify({ 'Sno': txtSID.value, 'name': ddlflow.value }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (opType == 'D') {
                        if (data == true) {
                            message = st + ' is in use Cannot be Deleted.';
                            type = 'danger';

                        } else {
                            message = st + ' Flow Successfully Deleted';
                            type = 'success';
                        }
                    }
                    notifyMessage(message, type);
                    bindEmail();
                }
          })
     }
    </script>
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">@ViewData["emai"]</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Setup", "Setup")">@ViewData["hom"]</a></li>
                <li class="breadcrumb-item active">@ViewData["emai"]</li>
            </ol>
        </div>
    </div>
</div>


<div class="card border-0">
    <div class="card-body">
        <h5 class="card-title d-none" id="lblem">@ViewData["emai"]</h5>
        <div class="form-group text-end">
            <button type="button" id="btnAdd" value="Add" data-sid="0" class="btn btn-primary btn-rounded"
                    data-toggle="modal" data-target="#modal-smtp" onclick="showSMTPModalEmail(this);">
                <i class="fas fa-plus"></i>
                @ViewData["Bct"]
            </button>
            <input type="hidden" id="hdnEmployee" />
        </div>
        <hr />

        <div class="table-responsive pb-2">
            <table id="tbl-smtp"
                   class="table table-bordered zero-configuration dataTable rounded display">
                <thead>
                    <tr>
                        <th class="th_sno">@ViewData["Bsno"]</th>
                        <th>@ViewData["floid"]</th>
                        <th class="d-none">FlowID </th>
                        <th width="70%">@ViewData["emaitxt"]</th>
                        <th width="70%">@ViewData["emaitxtloc"] </th>
                        <th style="min-width: 250px;">@ViewData["eamisub"]</th>
                        <th style="min-width: 250px;">@ViewData["emaisubloc"]</th>
                        <th class="th_actions" data-sort-ignore="true">@ViewData["Bact"]</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!-- [MODALS] -->
<div class="modal fade" id="modal-smtp" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered believerModal modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblem1">@ViewData["emai"]</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    </button>
            </div>
            <form class="col-12 p-0 mx-auto" action="" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for="txtditid" class="f-label_align label-145">
                                @ViewData["floid"]<span class="text-danger">*</span>
                            </label>
                            <select id="ddlflow" class="form-control input-sm">
                                <option value="0">Select</option>
                                <option value="1">On Registration</option>
                                <option value="2">User Registration</option>
                                <option value="3">On Approve</option>
                                <option value="4">On Return</option>
                                <option value="5">OTP Activation</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for="txtditid" class="f-label_align label-145">
                                @ViewData["subeng"]<span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control input-sm" id="txtsub"
                                   placeholder="Subject English" />
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for="txtditid" class="f-label_align label-145">@ViewData["subswa"]</label>
                            <input type="text" class="form-control input-sm" id="txtsubloc"
                                   placeholder="Subject Swahili">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for="txtditid" class="f-label_align label-145">
                                @ViewData["emaitxt"]<span class="text-danger">*</span>
                            </label>
                            <textarea id="txtEtext" style="height:250px;" class="form-control input-sm"
                                      cols="50"></textarea>
                            <input type="hidden" class="form-control  hidden" id="txtSID">
                        </div>
                        <div class="form-group flex_form-group align-items-baseline col-md-10 col-lg-6">
                            <label for="txtditid" class="f-label_align label-145">@ViewData["emaitxtloc"]</label>
                            <textarea id="txtloctext" style="height:250px;" class="form-control input-sm"
                                      cols="50"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info btn-rounded" id="btnSubmit">@ViewData["Bsav"]</button>
                    <button type="button" class="btn btn-outline-danger btn-rounded" data-dismiss="modal">@ViewData["Bclo"]</button>
                </div>
            </form>
        </div>
    </div>
</div>


