
@{
    ViewBag.Title = "Login";
    Layout = null;


}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    @*<script src="/js/jquery.min.js"></script>*@
    <link rel="stylesheet" href="/assets/bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="/css/login-style.min.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <script src="/assets/scripts/jQuery.min.js"></script>
    <title>Login Page | e-Nvit</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <style>

        div.footer {
            height: 100px;
        }

            div.footer p {
                font-size: 0.75rem;
            }

        .co-operate--wrapper {
            width: 60px;
            height: 60px;
        }

        .co-operate-logo--wrapper {
            background: url('../../images/Biz-Logic Round Logo.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: inherit;
        }
    </style>
</head>

<body>

    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="main-area col-12 px-0">
                <div class="login-box">
                    <div class="card border-grey border-lighten-3 m-0 ">
                        <div class="card-header border-0 bg-white pb-1">
                            <div class="card-title text-center">
                                <div class="p-1">
                                    <img class="img-thumbnail mt-4" src="~/images/logo_placeholder.png" alt="branding logo" />
                                </div>
                            </div>
                            <h1 class="card-subtitle line-on-side h5 text-muted text-center text-uppercase">
                                <span>B-envit</span>
                            </h1>
                        </div>

                        <h6 class="text-center">Login to the Portal</h6>

                        <div class="card-content">
                            <div class="card-body pt-1">

                                @* <form class="form-horizontal form-simple" action="" novalidate="" method="POST"
                                    pb-autologin="true" autocomplete="off"> *@
                                <fieldset class="form-group position-relative has-icon-left mb-0">
                                    <input type="text"
                                           class="form-control form-control-lg input-lg no-box-shadow credentials"
                                           id="txtuname" placeholder="Your Username" required="" pb-role="username">
                                    <div class="form-control-position">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="password"
                                           class="form-control form-control-lg input-lg no-box-shadow credentials"
                                           id="txtpwd" placeholder="Enter Password" required="" pb-role="password">
                                    <div class="form-control-position">
                                        <i class="fas fa-key"></i>
                                    </div>
                                    <div id="password-eye" class="form-control-position position-right d-flex">
                                        <i class="fas fa-eye"></i>
                                    </div>
                                </fieldset>

                                <button type="submit" class="btn tff_btn btn-lg btn-block" id="btnSubmit"
                                        pb-role="submit">
                                    Login
                                </button>
                                @* </form> *@
                            </div>
                        </div>
                        <div class="card-footer bg-white">
                            <p class="text-center m-0">
                                <a href="@Url.Action("Forgot", "Forgot")">Forgot Password?</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer px-2">
                    <p class="mb-0">
                        Designed &amp; Developed by <a class="links" href="http://bizlogicsolutions.com/"
                                                       target="_blank">Biz-Logic Solutions Ltd.</a>
                    </p>
                    <div class="co-operate--wrapper">
                        <div class="co-operate-logo--wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/popperjs-1.16.1/popper.min.js"></script>
    <script src="/assets/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    <script src="~/Script/bootstrap-notify.min.js"></script>
    <script src="~/js/validations.js"></script>
    <script src="~/js/main.js"></script>

    <script>

        $(document).ready(function () {
            var password_eye = $('#password-eye i');
            var password_input = $('#txtpwd');

            $(password_eye).click(function (e) {
                e.preventDefault();

                if ($(password_input).attr('type') !== 'text') {
                    // change eye icon
                    $(password_eye).removeClass('fa-eye');
                    $(password_eye).addClass('fa-eye-slash');
                    // show passowrd text
                    $(password_input).attr('type', 'text');
                } else {
                    // change eye icon
                    $(password_eye).removeClass('fa-eye-slash');
                    $(password_eye).addClass('fa-eye');
                    // show passowrd text
                    $(password_input).attr('type', 'password');
                }
            });

        });

    </script>
    <script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            addoff();
        });
    });

        function addoff() {

            var message = validateEmployeeoff(),
                type = '';
            if (message.length > 0) {
                notifyMessage(message, 'danger');
            }
            else {
                var params = JSON.stringify(getSMTPValues());
                //$.noConflict();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddLogin", "Login")',
                    data: params,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        if (data != null) {
                            if (data.flogin == "false") {
                                window.location.href = '@Url.Action("Updatepwd", "Updatepwd")?type =' + data.check + '&Instid =' + data.InstID + '&Usersno =' + data.Usno;
                            }
                         else if (data.check == "Support" ) {
                                window.location.href = '@Url.Action("Index", "Participants")';
                            }
                         else if (data.check == "Bank" ) {
                                window.location.href = '@Url.Action("Setup", "Setup")';
                            }
                            else if (data.check1 == "Bank") {
                                message = data.check;
                                notifyMessage(message, 'warning');
                                var delayInMilliseconds = 5000; //5 second

                                setTimeout(function () {
                                    //your code to be executed after 5 second
                                window.location.href = '@Url.Action("Setup", "Setup")';
                                }, delayInMilliseconds);
                            }
                            else {
                                message = data.check;
                                notifyMessage(message, 'danger');
                            }
                        }
                    }
                })
            }
        }
    function getSMTPValues() {

        var txtu = document.getElementById('txtuname');
        var txtpwd = document.getElementById('txtpwd');

        var data = {
            uname: txtu.value,
            pwd: txtpwd.value,

        }

        return data;
    }

    function validateEmployeeoff() {

        var txtu = document.getElementById('txtuname');
        var txtpwd = document.getElementById('txtpwd');
        result = '';

        if (txtu.value.length == 0) {
            result += 'UserName is Required.<br/>';
        }

        if (txtpwd.value.length == 0) {
            result += 'Password is Required.<br/>';
        }


        return result;
    }

    </script>
</body>

</html>



