
@model FUNDING.Models.ViewModels.VisitorsBulkUpload

@{ AjaxOptions bulkVisitorInviteeUploadAjaxOptions = new AjaxOptions();
    bulkVisitorInviteeUploadAjaxOptions.HttpMethod = "POST";
    //bulkVisitorUploadAjaxOptions.UpdateTargetId = "VisitorsCount";
    bulkVisitorInviteeUploadAjaxOptions.OnBegin = "OnBeginRequestBulkInviteeUpload";
    bulkVisitorInviteeUploadAjaxOptions.OnSuccess = "OnSuccessRequestBulkInviteeUpload";
    //bulkVisitorUploadAjaxOptions.OnComplete = "OnCompleteRequestBulkUpload";
    bulkVisitorInviteeUploadAjaxOptions.OnFailure = "OnFailureRequestBulkInviteeUpload";
    bulkVisitorInviteeUploadAjaxOptions.Confirm = "Do you want to add invitee codes?"; }

@using (Ajax.BeginForm(actionName: "AjaxHelperBulkUploadInviteeForm", controllerName: "Visitors", routeValues: null,
    ajaxOptions: bulkVisitorInviteeUploadAjaxOptions, htmlAttributes: new { id = "ajaxHelperBulkUploadInviteeForm", autocomplete = "off", enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken() <!-- Modal -->
    <div class="modal fade" id="ajaxHelperBulkUploadInviteeModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-keyboard="false" aria-labelledby="ajaxHelperBulkUploadLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div id="divVisitors" class="modal-content position-relative">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Register Visitor Along Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="btn-label-style">
                                <div class="text-end">
                                    <a class="btn btn-outline-success btn-rounded" href="@Url.Action("DownloadExcelTemplateVisitorCode", "Visitors")">
                                        <i class="fas fa-file-download"></i>
                                        Download Template
                                    </a>
                                </div>
                                @Html.LabelFor(model => model.VisitorsFileAttachment, htmlAttributes: new { @class = "form-label col-form-label col-auto" })
                            </div>
                            <div class="col-lg-8 col-xl-6">
                                @Html.TextBoxFor(model => model.VisitorsFileAttachment, new { @class = "form-control", type = "file" })
                                @Html.ValidationMessageFor(model => model.VisitorsFileAttachment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="submitVisitors_BulkUploadInvites" type="submit" class="btn btn-outline-info btn-rounded">Save</button>
                    <button type="button" class="btn btn-outline-danger btn-rounded" data-bs-dismiss="modal">Close</button>
                </div>
                <div class="position-absolute w-100 h-100 modal_pre-loader">
                    <div class='d-flex justify-content-center align-items-center h-100'>
                        <div class='ripple-pre-loader'>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>}