@{
    var user = Session["admin1"] as string; var flogin = Session["flogin"] as
        string;
    <!DOCTYPE html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Funding Contribution Portal | @ViewBag.Title</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="Description" content="Enter your description here" />

        <link rel="stylesheet" href="/assets/bootstrap-4.5.3-dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/fontawesome-free-5.15.3-web/css/all.min.css" />

        <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" />

                    <link
                      rel="stylesheet"
                      href="/assets/fontawesome-free-5.13.0-web/css/all.css"
                    /> -->
        <link rel="stylesheet" href="/assets/hamburgers-master/hamburgers.min.css" />
        <!-- <link rel="stylesheet" href="/css/hamburgers.min.css" /> -->
        <!-- DataTable -->

        <link rel="stylesheet" href="/assets/dataTable/css/dataTables.bootstrap4.min.css" />
        <!-- Datepicker CSS -->

        <link rel="stylesheet" href="/css/style.css" />

        <link rel="stylesheet" href="/css/main.min.css" />

        <script src="/js/jquery.min.js"></script>
        <script src="/js/numeral.min.js"></script>

        <script src="/js/chart.js"></script>
        <script src="/assets/dataTable/js/jquery.dataTables.min.js"></script>
        <script src="/Script/fnFilterClear.js" type="text/javascript"></script>
        <script src="/assets/dataTable/js/dataTables.bootstrap4.min.js"></script>
        <script src="/assets/datepicker/gijgo.min.js"></script>
        <script src="/Script/bootstrap-notify.min.js" type="text/javascript"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>
        <script src="~/js/validations.js"></script>

        @*
            <link
            rel="stylesheet"
            href="/assets/semantic.ui/semantic-ui-multiselect-min.css"
            />
            <link
            rel="stylesheet"
            href="/assets/semantic.ui/semantic-ui-dropdown.min.css"
            />
            <link
            rel="stylesheet"
            href="/assets/semantic.ui/semantic-ui-transition.min.css"
            />
        *@

        <style>
            /* Disable in dashboard screen */
            sidebar,
            .app-toggle {
                display: none !important;
            }

            .app-main {
                padding-left: 0px !important;
            }
        </style>
        <script type="text/javascript">
      //$(document).ready(function () {
      //    $("body").on("contextmenu", function (e) {
      //        return false;
      //    });
      //});
      history.pushState(null, null, location.href);
      history.back();
      history.forward();
      window.onpopstate = function () {
        history.go(1);
      };
        </script>
    </head>

    <body>
        <div class="back-drop"></div>
        @if (user == "Bank" && flogin == "true")
        {
            <div class="container-fluid">

                <header class="shadow fixed-top d-flex lf-page">
                    <div class="app-logo__toggle-btn d-flex">
                        <div class="app-logo">
                            <div class="brand-logo"></div>
                        </div>
                        <div class="app-toggle">
                            <button type="button" id="hamburger" class="btn hamburger hamburger--boring">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <h1 class="system-title mb-0 mx-0 text-bsl px-1">
                        Funding Contribution Portal
                    </h1>

                    <div class="header-right d-flex ml-auto">
                        <div id="sm-header-wrapper" class="d-flex">

                            <div class="ml-auto d-none d-sm-flex language-btns-group">
                                <button class="btn" type="button" tabindex="0" value="English" data-pwd="BNK" class="dropdown-item"
                                        onclick="Getlang(this)">
                                    <span class="language-icon">
                                        <img src="/images/Square_Flag_of_the_United_Kingdom (1).png" alt="" />
                                    </span>
                                    <span class="sr-only">English</span>
                                </button>
                                <button class="btn" type="button" tabindex="0" value="Swahili" data-pwd="BNK" class="dropdown-item"
                                        onclick="Getlang(this)">
                                    <span class="language-icon">
                                        <img src="/images/1200px-Flag_of_Tanzania (1).png" alt="" />
                                    </span>
                                    <span class="sr-only">Kiswahili</span>
                                </button>
                            </div>
                            <ul class="account-info list-unstyled d-none d-sm-flex position-relative">
                                <li id="user-logo">
                                    <span class="account-image d-inline-block">
                                        <img src="/images/male-user.png" alt="" />
                                    </span>
                                </li>
                                <li class="d-none d-md-inline-block user-info">
                                    <span class="user-detail d-flex flex-column">
                                        <span class="user-name small"> @Session["admin1"] </span>
                                        <span class="user-designation small">
                                            @Session["UfullName"]
                                        </span>
                                    </span>
                                </li>
                            </ul>
                            <div class="logout-btn d-none d-sm-flex">
                                <button class="btn" type="button" tabindex="0" class="dropdown-item">
                                    <a href='@Url.Action("Logout", "Loginnew")'>
                                        <i class="links fa fa-sign-out-alt"></i>
                                        <span class="sr-only">Logout</span>
                                    </a>
                                </button>
                            </div>
                        </div>
                        <div class="ml-auto d-flex align-items-center d-sm-none px-1">
                            <button id="ellipsisBtn" class="btn btn-biz_logic px-1">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </header>

                <div class="row">
                    <div class="app-main d-flex flex-column">
                        <div class="main-area">
                            <div class="mx-n10px">@RenderBody()</div>
                        </div>
                        <div class="footer px-2">
                            <p class="mb-0 small">
                                Designed &amp; Developed by
                                <a class="links" href="http://bizlogicsolutions.com/" target="_blank">Biz-Logic Solutions Ltd.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (user == "Belivers" && flogin == "true")
        {
            <div class="container-fluid">

                <header class="shadow fixed-top d-flex lf-page">
                    <div class="app-logo__toggle-btn d-flex">
                        <div class="app-logo">
                            <div class="brand-logo"></div>
                        </div>
                        <div class="app-toggle">
                            <button type="button" id="hamburger" class="btn hamburger hamburger--boring">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <h1 class="system-title mb-0 mx-0 text-bsl px-1">
                        Funding Contribution Portal
                    </h1>

                    <div class="header-right d-flex ml-auto">
                        <div id="sm-header-wrapper" class="d-flex">
                            <div class="ml-auto d-none d-sm-flex language-btns-group">
                                <button class="btn" type="button" tabindex="0" value="English" data-pwd="BNK" class="dropdown-item"
                                        onclick="Getlang(this)">
                                    <span class="language-icon">
                                        <img src="/images/Square_Flag_of_the_United_Kingdom (1).png" alt="" />
                                    </span>
                                    <span class="sr-only">English</span>
                                </button>
                                <button class="btn" type="button" tabindex="0" value="Swahili" data-pwd="BNK" class="dropdown-item"
                                        onclick="Getlang(this)">
                                    <span class="language-icon">
                                        <img src="/images/1200px-Flag_of_Tanzania (1).png" alt="" />
                                    </span>
                                    <span class="sr-only">Kiswahili</span>
                                </button>
                            </div>
                            <ul class="account-info list-unstyled d-none d-sm-flex position-relative">
                                <li id="user-logo">
                                    <span class="account-image d-inline-block">
                                        <img src="/images/male-user.png" alt="" />
                                    </span>
                                </li>
                                <li class="d-none d-md-inline-block user-info">
                                    <span class="user-detail d-flex flex-column">
                                        <span class="user-name small"> Believer </span>
                                        <span class="user-designation small">
                                            @Session["UfullName"]
                                        </span>
                                    </span>
                                </li>
                            </ul>
                            <div class="logout-btn d-none d-sm-flex">
                                <button class="btn" type="button" tabindex="0" class="dropdown-item">
                                    <a href='@Url.Action("Logout", "Login")'>
                                        <i class="links fa fa-sign-out-alt"></i>
                                        <span class="sr-only">Logout</span>
                                    </a>
                                </button>
                            </div>
                        </div>

                        <div class="ml-auto d-flex align-items-center d-sm-none px-1">
                            <button id="ellipsisBtn" class="btn btn-biz_logic px-1">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </header>
                <div class="row">
                    <div class="app-main d-flex flex-column">
                        <div class="main-area">
                            @RenderBody()
                        </div>
                        <div class="footer px-2">
                            <p class="mb-0 small">
                                Designed &amp; Developed by
                                <a class="links" href="http://bizlogicsolutions.com/" target="_blank">Biz-Logic Solutions Ltd.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container-fluid">

                <header class="shadow fixed-top d-flex lf-page">
                    <div class="app-logo__toggle-btn d-flex">
                        <div class="app-logo">
                            <div class="brand-logo"></div>
                        </div>
                        <div class="app-toggle">
                            <button type="button" id="hamburger" class="btn hamburger hamburger--boring">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <h1 class="system-title mb-0 mx-0 text-bsl px-1">
                        Religious Contribution Portal
                    </h1>

                    <div class="header-right d-flex ml-auto">
                        <div id="sm-header-wrapper" class="d-flex">
                            <div class="ml-auto d-none d-sm-flex language-btns-group">
                                <button class="btn" type="button" tabindex="0" value="English" data-pwd="BNK" class="dropdown-item"
                                        onclick="Getlang(this)">
                                    <span class="language-icon">
                                        <img src="/images/Square_Flag_of_the_United_Kingdom (1).png" alt="" />
                                    </span>
                                    <span class="sr-only">English</span>
                                </button>
                                <button class="btn" type="button" tabindex="0" value="Swahili" data-pwd="BNK" class="dropdown-item"
                                        onclick="Getlang(this)">
                                    <span class="language-icon">
                                        <img src="/images/1200px-Flag_of_Tanzania (1).png" alt="" />
                                    </span>
                                    <span class="sr-only">Kiswahili</span>
                                </button>
                            </div>
                            <ul class="account-info list-unstyled d-none d-sm-flex position-relative">
                                <li id="user-logo">
                                    <span class="account-image d-inline-block">
                                        <img src="/images/male-user.png" alt="" />
                                    </span>
                                </li>
                                <li class="d-none d-md-inline-block user-info">
                                    <span class="user-detail d-flex flex-column">
                                        <span class="user-name small"> @Session["admin1"] </span>
                                        <span class="user-designation small">
                                            @Session["UfullName"]
                                        </span>
                                    </span>
                                </li>
                            </ul>
                            <div class="logout-btn d-none d-sm-flex">
                                <button class="btn" type="button" tabindex="0" class="dropdown-item">
                                    <a href='@Url.Action("Logout", "Loginnew")'>
                                        <i class="links fa fa-sign-out-alt"></i>
                                        <span class="sr-only">Logout</span>
                                    </a>
                                </button>
                            </div>
                        </div>
                        <div class="ml-auto d-flex align-items-center d-sm-none px-1">
                            <button id="ellipsisBtn" class="btn btn-biz_logic px-1">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </header>


                <div class="row">
                    <div class="app-main d-flex flex-column">
                        <div class="main-area">
                            <div class="mx-n10px">@RenderBody()</div>
                        </div>
                        <div class="footer px-2">
                            <p class="mb-0 small">
                                Designed &amp; Developed by
                                <a class="links" href="http://bizlogicsolutions.com/" target="_blank">Biz-Logic Solutions Ltd.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
        <script src="/js/main.js"></script>
    </body>

</html>
}
<script type="text/javascript">

  function Getlang(e) {
    var pt = jQuery(e).data('pwd');
    if (pt == 'BNK') {
      jQuery.ajax({
        type: 'POST',
        url: '@Url.Action("Update", "Language")',
        data: JSON.stringify({ 'name': e.value }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function (data) {
          if (data != null) {
            Getcolumnslang();
            location.reload();
          }
        }
      });

    }
    else if (pt == 'Mem') {
      jQuery.ajax({
        type: 'POST',
        url: '@Url.Action("Update", "LangInst")',
        data: JSON.stringify({ 'name': e.value }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function (data) {
          if (data != null) {
            location.reload(true);
            Getcolumnslang();
          }
        }
      });
    }
    else {
      jQuery.ajax({
        type: 'POST',
        url: '@Url.Action("Update", "Instituteuser")',
        data: JSON.stringify({ 'name': e.value }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function (data) {
          if (data != null) {
            Getcolumnslang();
            location.reload();
          }
        }

      });

    }
  }
  @*function updatelang(pt) {
    jQuery.ajax({
    type: 'POST',
    url: '@Url.Action("Editlang", "Language")',
    data: JSON.stringify({ 'type': pt }),
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    success: function (data) {
    if (data != null) {
    Getcolumnslang();
    }
    }
    });
    }*@
</script>



