@using FUNDING.Models;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/eCard_Updated/assets/images/favicon.png">
    <title>@ViewBag.Title | B-envit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" type="text/css"
          href="~/eCard_Updated/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css"
          href="~/eCard_Updated/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css">

    <!--Datatable -->
    @*<link rel="stylesheet" href="~/assets/dataTable/css/dataTables.bootstrap4.min.css">*@

    <!-- Custom CSS -->
    <link href="~/eCard_Updated/assets/dist/css/style.min.css" rel="stylesheet" />
    <link href="~/eCard_Updated/assets/main.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

    <style>
        footer.footer {
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

            footer.footer p {
                font-size: 0.75rem;
            }

        .co-operate--wrapper {
            width: 60px;
            height: 60px;
        }

        .co-operate-logo--wrapper {
            background: url('../../images/Biz-Logic Round Logo.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: inherit;
        }
    </style>

</head>

<body class="horizontal-nav skin-megna fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">B-envit</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    @*@if (Session["role"].ToString() == RoleList.Admin OR Session["role"].ToString() == RoleList.Manager)
                    {*@

                <a class="navbar-brand" href="@Url.Action("Setup", "Setup")">
                    <img class="img-thumbnail brand-image" src="~/images/logo_placeholder.png" alt="branding logo" />
                </a> @* }
                    else
                     {
                         Response.Redirect(Url.Action("CustomLogin", "Login"));
                     }*@
                            </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav me-auto">
                        <!-- This is  -->
                        <li class="nav-item px-2 d-md-none">
                            <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a>
                        </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- title -->
                        <!-- ============================================================== -->
                        <li class="nav-item align-items-center" style="display: flex;">
                            <h5 class="mb-0 font-20" style="font-weight: 500;">B-ENVIT</h5>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and title -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">

                        <!-- ============================================================== -->
                        <li class="nav-item dropdown u-pro pe-2">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/images/user_icon.png" alt="avatar" />
                                <span class="hidden-md-down">
                                    @Session["User_name"] &nbsp;
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end animated flipInY">
                                <span class="dropdown-item d-block d-lg-none">
                                    <i class="icon-user"></i>
                                    @Session["User_name"]
                                </span>
                                <hr class="my-1 d-block d-lg-none" />
                                <!-- text-->
                                <a href="@Url.Action("Changepwd", "Changepwd")" class="dropdown-item">
                                    <i class="ti-settings"></i> Change Password
                                </a>
                                <!-- text-->
                                <div class="dropdown-divider"></div>
                                <!-- text-->
                                <a href="@Url.Action("Logout", "Login")" class="dropdown-item">
                                    <i class="fa fa-power-off"></i> Logout
                                </a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End User Profile -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a class=" waves-effect waves-dark" href="@Url.Action("Setup", "Setup")" aria-expanded="false">
                                <i class="fas fa-tachometer-alt"></i>
                                <span>Dashboard </span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="fas fa-cogs"></i>
                                <span class="hide-menu">Setup</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("EMPLOYDET","EMPLOYDET")">Users</a></li>
                                <li><a class="d-block d-xl-none" href="@Url.Action("Index","Customers")">Customers</a></li>
                                <li>
                                    <a class="d-block d-xl-none"
                                       href="@Url.Action("CustomerEvent","Customers")">Events Master</a>
                                </li>
                                <li><a class="d-block d-xl-none" href="@Url.Action("Index","CardStates")">Card States</a></li>
                                <li><a href="@Url.Action("Package","Packages")">Packages</a></li>
                                <li><a href="@Url.Action("Email","Email")">Email</a></li>
                                <li><a href="@Url.Action("SMTP","SMTP")">SMTP</a></li>
                                <li><a href="@Url.Action("SMSSETNGS","SMSSETNGS")">SMS Settings</a></li>
                                <li><a href="@Url.Action("SMS","SMS")">SMS Text</a></li>
                                <li><a href="@Url.Action("SMSEVENT","SMSEVENTS")">Event SMS Template</a></li>
                                <li><a href="@Url.Action("SMSContribution","SmsContribution")">Contribution SMS Template</a></li>

                            </ul>
                        </li>
                        
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="fas fa-file-alt"></i>
                                <span class="hide-menu">Invitation Cards</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("CardTemplates", "CardDesignMaster")">Card Templates</a></li>
                                <li><a href="@Url.Action("Fonts", "CardDesignMaster")">Fonts</a></li>
                                <li><a href="@Url.Action("Index", "CardDesignMaster")">Card Generation</a></li>
                                <li><a href="@Url.Action("WhatsAppNotification", "CardDesignMaster")">WhatsApp Notification</a></li>
                            </ul>
                        </li>

                        <li class="nav-item d-none d-xl-inline">
                            <a class="menu-item" href="@Url.Action("Index","Customers")">
                                <i class="fas fa-users"></i>
                                <span class="menu-title">Customers</span>
                            </a>
                        </li>
                        <li class="nav-item d-none d-xl-inline">
                            <a class="menu-item" href="@Url.Action("CustomerEvent","Customers")">
                                <i class="fas fa-calendar-alt"></i>
                                <span class="menu-title">Events Master</span>
                            </a>
                        </li>
                        <li class="nav-item d-none d-xl-inline">
                            <a class="menu-item" href="@Url.Action("Index","CardStates")">
                                <i class="fas fa-file-alt"></i>
                                <span class="menu-title">Card States</span>
                            </a>
                        </li>

                        @if (Session["role"].ToString() == RoleList.Admin)
                        {
                            <li class="nav-item">
                                <a class="menu-item" href="@Url.Action("Lang_Faci","Lang_Faci")">
                                    <i class="fas fa-language"></i>
                                    <span class="menu-title">Language</span>
                                </a>
                            </li>
                       
                            <li class="nav-item">
                                <a class="menu-item" href="@Url.Action("AccessRights", "AccessRights")">
                                    <i class="fas fa-user-lock"></i>
                                    <span class="menu-title">Access Rights</span>
                                </a>
                            </li>
                       @* }

                        @if (Session["role"].ToString() == RoleList.Admin)
                        {*@
                            <li class="nav-item">
                                <a class="menu-item" href="@Url.Action("Bank_Audit", "Bank_Audit")">
                                    <i class="fas fa-user-tag"></i>
                                    <span class="menu-title">Audit trail</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->

                @RenderBody()
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            <p class="m-0">
                Designed &amp; Developed by
                <a href="http://bizlogicsolutions.com/" target="_blank">Biz-Logic Solutions Ltd.</a>
            </p>
            <div class="co-operate--wrapper">
                <div class="co-operate-logo--wrapper"></div>
            </div>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/eCard_Updated/assets/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/eCard_Updated/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/eCard_Updated/assets/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/eCard_Updated/assets/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/eCard_Updated/assets/dist/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/eCard_Updated/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/eCard_Updated/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/eCard_Updated/assets/dist/js/custom.min.js"></script>
    <!-- This is data table -->
    @*<script src="~/assets/dataTable/js/jquery.dataTables.min.js"></script>
        <script src="~/assets/dataTable/js/dataTables.bootstrap4.min.js"></script>*@

    <script src="~/eCard_Updated/assets/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/eCard_Updated/assets/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js"></script>

    <!-- start - This is for export functionality only -->
    @*    <script src="~/eCard_Updated/assets/cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="~/eCard_Updated/assets/cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
        <script src="~/eCard_Updated/assets/cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="~/eCard_Updated/assets/cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
        <script src="~/eCard_Updated/assets/cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
        <script src="~/eCard_Updated/assets/cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
        <script src="~/eCard_Updated/assets/cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>*@
    <!-- end - This is for export functionality only -->

    <script src="~/js/jspdf.debug.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@2.3.2"></script>
    <script src="~/assets/dataTable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/dataTable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/jquery.table2excel.min.js"></script>
    <script src="~/Script/fnFilterClear.js" type="text/javascript"></script>
    <script src="~/Script/bootstrap-notify.min.js" type="text/javascript"></script>
    <script src="~/Script/fnFilterClear.js" type="text/javascript"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/assets/datepicker/gijgo.min.js"></script>
    <script src="~/assets/semantic.ui/semantic-ui-transition.min.js"></script>
    <script src="~/assets/semantic.ui/semantic-ui-dropdown.min.js"></script>
    @*<script src="~/assets/semantic.ui/semantic.min.js"></script>*@
    <script src="~/js/script.js"></script>
    <script src="~/js/validations.js"></script>
    @*Bank side Js*@
    <script src="~/js/Country.js"></script>
    <script src="~/js/Region.js"></script>
    <script src="~/js/Districts.js"></script>
    <script src="~/js/Ward.js"></script>
    <script src="~/js/SecurityQuestion.js"></script>
    <script src="~/js/Currency.js"></script>
    <script src="~/js/Designation.js"></script>
    <script src="~/js/Email.js"></script>
    <script src="~/js/Employdet.js?ver=1.0"></script>
    @*<script src="~/js/Module.js"></script>*@
    <script src="~/js/Role.js"></script>
    <script src="~/js/SMTP.js"></script>
    <!--<script src="~/js/Sponser.js"></script>
    <script src="~/js/Board.js"></script>
    <script src="~/js/BTransfer.js"></script>
    <script src="~/js/ExpenseMaster1.js?ver=09122021"></script>
    <script src="~/js/Team.js"></script>
    <script src="~/js/Sponser_Transfer.js"></script>
    <script src="~/js/TeamBudget.js"></script>
    <script src="~/js/ExpenseCategory.js"></script>--> @*//22.09.2021 by raghu *@
    <!--<script src="~/js/seasonmaster.js"></script>-->

    <script src="/select2/js/select2.min.js"></script>
    @* <script src="~/assets/sweetalert2/sweetalert2.all.min.js"></script> *@

    <script src="~/js/main.js"></script>


    @* <script>
        // var main_area = document.querySelector('#main-area');
        // SimpleScrollbar.initEl(main_area);
        var main_menu = document.querySelector('#main-menu');
        SimpleScrollbar.initEl(main_menu);
        </script> *@
    <script type="text/javascript">

            //var ids = ["acight", "audit", "Bod", "bba", "bodd", "bttd", "cou", "curr", "desg", "dis", "email", "excat", "exp", "lang",
            // "reg", "sec", "smtp", "Spn", "spnd", "stbd", "Tba", "Team", "te", "twb", "user", "ward", "bttdrep", "seamst"];

            var ids = ["acight", "audit", "Bod", "bba", "bodd", "Tba", "conamt","cou", "curr", "desg","disexp", "stbd", "stbdrep", "bttd", "bttdrep", "dis", "email", "excat", "exp", "lang", "reg", "seamst", "sec", "smsst", "smste", "smtp", "Spn", "spnd", "Teamrep", "te", "twb", "Team", "user", "ward"];


            var men = ["Repo", "setup", "trans"];
            var array1 = @Html.Raw(Json.Encode(@ViewBag.menulist));
            if (array1) {
                for (var y = 0; y < array1.length; y++) {
                    if (array1[y] == 0) {
                        jQuery('.' + ids[y]).hide();
                    }
                    else {
                        jQuery('.' + ids[y]).show();
                    }
                }
            }
            var array2 = @Html.Raw(Json.Encode(@ViewBag.menuheader));

            if (array2) {
                for (var z = 0; z < array2.length; z++) {
                    if (array2[z] == 0) {
                        jQuery('.' + men[z]).hide();
                    }
                    else {
                        jQuery('.' + men[z]).show();
                    }
                }
            }
            function Getlangeg() {
                jQuery.ajax({
                    type: 'POST',
                    url: '@Url.Action("Update", "Lang_Faci")',
                    data: JSON.stringify({ 'name': "English" }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        if (data != null) {

                            location.reload();
                        }
                    }
                });

            }
            function Getlangsw() {
                jQuery.ajax({
                    type: 'POST',
                    url: '@Url.Action("Update", "Lang_Faci")',
                    data: JSON.stringify({ 'name': "Swahili" }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        if (data != null) {
                            location.reload();
                        }
                    }
                });

            }

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>